/* ResetPasswordPage.css */

.reset-password-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.reset-password-container {
    display: flex;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
}

.reset-password-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.reset-password-image img {
    width: 100%;
    /* max-width: 300px; */
    border-radius: 10px;
}

.reset-password-card {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-password-card h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}











