/* WatchHistoryPage.css */

.watch-history-page {
    padding: 40px 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1000px;
} */

/* .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
} */
.watch-date {
    font-size: 10px;
    color: #777;
    /* background-color: #eef1f6; */
    /* padding: 2px 8px; */
    margin-left: 35px;
    border-radius: 4px;
    /* display: inline-block; */
    /* font-style: italic; */
}

